# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
# Local ChromaDB database
storage/chromadb/*.sqlite3
